body{
    background-color: #83b655;
}

.navbar a {font-weight: 600;}

.navbar-collapse {
    flex-grow: initial !important;
    margin-right: 40px !important;
}

.banner-principal {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    text-align: center;
}